/* Reset and Box Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Body Styles */
body {
    margin: 10px;
    background: rgb(79, 77, 77);
    color: rgb(30, 30, 30);
    min-width: 580px;
    min-height: 580px;
}

/* Header Styles */
header {
    margin: 5px 0;
    background-color: rgb(40, 40, 40);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.imgLogo {
    width: 48px;
    height: 48px;
}

.title {
    color: rgb(233, 175, 105);
    font-size: 1em;
}

/* Navigation Styles */
nav {
    margin-right: 20px;
}

.navbar {
    display: flex;
    gap: 10px;
    list-style: none;
}

.navlist a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s;
}

.navlist a:hover {
    text-decoration: underline;
    color: rgb(233, 175, 105);
}

/*content styles*/
.container
{
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    padding: 20px 20px 50px 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    height: 100%;
    min-height: 500px;


}

.container .error-slt
{
    margin-top: 50px;
    font-size: 2em;
    font-weight: 900;
    text-transform: capitalize;
}

.container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 5px 20px;
    margin: 30px auto;
    background-color: black;
    color: white;
    text-decoration: none;
    border: 4px solid black;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.1s;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.button:active {
    transform: scale(0.9);
}
