.penggeser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.penggeser-item{
    margin: 50px;
}

#penggeser-img{
    width: 50vw;
}

.penggeser-title{
    font-size: 3rem;
    font-weight: 900;
}

.penggeser-deskripsi{
    width: 60rem;
    font-weight: 500;
}

/* Styles for devices with width up to 1300px */
@media (max-width: 1300px) {
    .penggeser-item{
        margin: 35px;
    }

    #penggeser-img{
        width: 40vw;
    }

    .penggeser-title{
        font-size: 2.5rem;
    }

    .penggeser-deskripsi{
        width: 45rem;
        font-weight: 500;
    }
}

